:root{
  --brand-color-primary: #2b323b;
  --brand-color-accent: #ef0092;

  --ifm-color-primary: var(--brand-color-primary);
  --ifm-color-primary-dark: #272d35;
  --ifm-color-primary-darker: #252b32;
  --ifm-color-primary-darkest: #1e2329;
  --ifm-color-primary-light: #2f3741;
  --ifm-color-primary-lighter: #313a44;
  --ifm-color-primary-lightest: #38414d;

  --ifm-link-color: var(--brand-color-accent);
}

html[data-theme='dark'] {
  --brand-color-primary: var(--brand-color-accent);
  --ifm-font-color-base-inverse: #f0f0f0;
  --ifm-blockquote-color: #ececec;
  --ifm-code-background: rgb(40, 42, 54);
}

html[data-theme='dark'] .hero {
  --ifm-hero-background-color: var(--ifm-color-primary-light);
}

.footer__logo {
  max-width: 4rem;
}

.header__logo {
  max-width: 30rem;
}



pre.language-py code::before,
pre.language-java code::before {
  counter-reset: listing;
}

pre.language-py code > span,
pre.language-java code > span{
  counter-increment: listing;
}

pre.language-py code > span::before,
pre.language-java code > span::before{
  color: #9a9a9a;
  content: counter(listing) ". ";
  display: inline-block;
  width: 3em;
  margin-right: 1em;
  margin-left: auto;
  text-align: right;
}
